// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro {
  height: 1170px;
  width: 100%;
}

#video-container {
  position: absolute; 
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#video-container .video {
  z-index: -1; 
  min-width: 100%;
  min-height: 100%;
}

