// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-family: Montserrat;
  font-weight: light;
  font-size: 1.1em;
  letter-spacing: 0.01em;
  text-shadow: none;
}
h2 {
  text-shadow: none;

}

.page-scroll {
  float: left;
}
.main-title-container {
  float: left;
}
.page-scroll a {
  font-size: 2em;
  color: #377293;
}
.page-scroll a:hover {
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-rj{
  background-color: transparent;
  border-color: transparent;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background-color: transparent;
}
// ----------------NAVBAR---------------------//
.navbar.navbar-fixed-top {
  background-color: #F2F4F4;
}
.nav-info {
  border-bottom: 1px solid rgba(255,255,255,.25);
  padding: 5px 170px 0px 170px;
  color: #f2f4f4;
  text-align: right;
  background-color: #0f497b;
}
.navbar-brand > img {
  height: 56px;
}
.nav.navbar-nav.navbar-right > li > a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-shadow: none;
  color: #0f497b;
}
.nav.navbar-nav.navbar-right > li > a:hover {
  border: 3px solid #f2f4f4;
  // border-right: 0.0px solid #f2f4f4;
  // border-left: 0.0px solid #f2f4f4;
  font-size: 1em;
  background-color: #f2f4f4;
  color: #20293f;
}
#highlighted-list-item {
  background-color: #ea4934;
  padding: 2px 6px;
  margin: 2px 7px;
}
.navbar.navbar-fixed-top .navbar-nav > li.active a, .navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #f2f4f4 !important;
  color: #377293 !important;
}
// ----------------INTRO---------------------//
#intro .intro-body .intro-text {
  margin-top: 130px;
}

#intro:before{
  background-image: asset-data-url("grid-overlay.png");
  background-color: transparent;
  height: 900px;
}
#intro .button-container > button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.button-container {
  position: absolute;
  z-index: 1000;
  width: 200px;
  height: auto;
}
#button-one {
  // top: 170px;
  left: 110px;
}
#button-two {
  // top: 210px;
  left: 300px;
}
.text-overlay {
  text-align: left;
  font-weight: 200;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}
#intro, #carousel-intro-section {
  position: fixed;
  height: 850px;
  width: 100%;
  z-index: -1;
}
#video-container {
  position: absolute; 
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 130%;
  width: 100%;
}
#video-container .video {
  min-width: 100%;
  min-height: 100%;
}
#intro .intro-body {
  vertical-align: top;
  z-index: 100;
}
#curve {
  position: absolute;
  min-width: 110%;
  left: -50px;
  bottom: -95%;
  z-index: 100;
}
#curve > img {
  background-size: cover;
  height: auto;
}

// EDITS HACKED////////////////////////////////////////////
#myVideo {
  margin-top: -160px;
  margin-left: 0px;
}
//
.navbar-header.page-scroll {
  width: 800px;
  height: 97px;
}
.navbar-brand.ui-link {
  height: 97px !important;
}
.ui-mobile a img, .ui-mobile fieldset {
  height: 90px;
  width: 109px;

}
.top-hack {
  margin-top: 10px;
}
.nav.navbar-nav.navbar-right {
  padding-top: 20px;
}
.nav-info > p {
  display: inline-block;
}

#big-header p {
  font-size: 6em !important;
}
// ----------------ABOUT US---------------------//
.overlay-buttons {
  margin-top: 15px;
  position: absolute;
  left: 118px;
}
// #welcome-ovelay {
//   margin-top: -12%;
//   padding-top: 2%;
// }
.overlay-header {
  z-index: 800;
}
#about-us {
  margin-top: 900px;
  padding-bottom: 4%;
  // height: 600px;
}
#draft-image {
  position: absolute;
  left: 0;
  z-index: 800px;
  width: 600px;
}
.about-us-txt {
  -ms-transform: translate(0px, 18px); /* IE 9 */
  -webkit-transform: translate(0px, 18px); /* Safari */
  transform: translate(0px, 18px);
  z-index: 100;
  text-align: justify;
}
#video-container img {
  min-width: 100% !important;
}
// ----------------SERVICES CONTAINER---------------------//
.overlay-title {
  color: #f2f4f4;
}
@media (min-width: 1024px) {
  .section > .section-inner .section-content {
    padding-top: 30px;
    padding-bottom: 30px;

  }
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content > h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  text-align: left;
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content > p {
  text-transform: none;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}
#meet-the-team-content > .full-width {
  // position: absolute;
  min-width: 100%;
  left: 0;
}
@media (min-width: 1024px) {
  #meet-the-team .team-item.not-right-column.top-column {
    margin-bottom: 15px;
  }
}
.bottom-services{
  height: 260px;
  overflow: hidden;
}
#top-services { 
  padding-left: 0px;
  padding-right: 0px;
  height: 270px;
  overflow: hidden;
}
#bottom-right-services {
  padding-right: 0px;
}
#meet-the-team .team-item.not-right.column.top-column {
  padding-left: 7.5px;
}
#bottom-left-services {
  padding-left: 0px;
  padding-right: 0px;  
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content {
  vertical-align: top;
  padding: 30px 50px;
}
#right-services {
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 0px;
  height: 680px;
  background-color: transparent;
}
#right-services ul {
  padding-left: 20px;
  display: table;
}
#right-services ul > li {
  list-style: none;
  display: table-row;
  height: 40px;
}
#right-services ul > li:before {    
  font-family: 'FontAwesome';
  content: '\f14a';
  display: table-cell;
  padding-right: 15px;
}
.content-list-text {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.section.section-parallax-yes > .section-inner > .section-overlay {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
#content-boxes-text {
  background-color: #f2f4f4;
  margin-left: 7.5px;
  padding-top: 25px;
  height: 545px;
}
// ----------------CONTENT BOXES CONTAINER---------------------//
#our-services {
  padding-bottom: 90px;
}
#services-container a {
  color: #f2f4f4;
}
.get-a-quote-content {
  padding-top: 50px;
}

#bottom-buttons {
  padding-left: 100px;
}
#bottom-buttons button {
  height: 70px;
}
footer.footer {
  border-top: 0px;
}
.image-hack {
  height: 470px;
}
.shifted {
  z-index: 1000;
}

#line {
  position: absolute;
  z-index: 200;
}
footer.footer #footer {
  background-color: #1c1c1c;
}
.footer-text {
  color: #F2F4f4;
  text-shadow: none;
}
.hack-overlay-text {
  z-index: 2000;
}
#hack-buttons > .hack-buttons-1{
  padding-left: 0px;
  padding-right: 0px;
}
#hack-buttons .contact-buttons {
  margin-left: 0px;
  background-color: #377293;
  color: #f2f4f4;
}



.funny-boxes > .funny-boxes-icon {
  border: 1px solid #377293;
  color: #377293;
}
