// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro, #carousel-intro-section {
  height: 900px;
  width: 100%;
}
#video-container {
  position: absolute; 
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
#video-container .video {
  min-width: 100%;
  min-height: 100%;
}
#intro .intro-body {
  z-index: 100;
}


// ----------------ABOUT US---------------------//
#about-us {
  padding-top: 3%;
  padding-bottom: 4%;
}
#draft-image {
  position: absolute;
  top: 0;
  left: 0;
}

.about-us-txt {
    -ms-transform: translate(0px, 18px); /* IE 9 */
    -webkit-transform: translate(0px, 18px); /* Safari */
    transform: translate(0px, 18px);
    z-index: 100;
}

#video-container img {
  min-width: 100% !important;
}

// ----------------SERVICES CONTAINER---------------------//
@media (min-width: 1024px) {
  .section > .section-inner .section-content {
    padding-top: 30px;
    padding-bottom: 30px;

  }
}

#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content > h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  text-align: left;
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content > p {
  text-transform: none;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}
#meet-the-team > .section-inner > .full-width {
  position: absolute;
  width: 100%;
  left: 0;
}
@media (min-width: 1024px) {
  #meet-the-team .team-item.not-right-column.top-column {
    margin-bottom: 15px;
  }
}
.bottom-services{
  height: 270px;
  overflow: hidden;
}
#top-services { 
  padding-left: 0px;
  padding-right: 0px;
  height: 270px;
  overflow: hidden;
}
#bottom-right-services {
  padding-right: 0px;
}
#meet-the-team .team-item.not-right.column.top-column {
  padding-left: 7.5px;
}
#bottom-left-services {
  padding-left: 0px;
  padding-right: 0px;  
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content {
  vertical-align: top;
  padding: 30px 50px;
}
#right-services {
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 0px;
  height: 680px;
  background-color: transparent;
}
#right-services ul {
  padding-left: 20px;
  display: table;
}
#right-services ul > li {
  list-style: none;
  display: table-row;
  height: 43px;
}
#right-services ul > li:before {    
  font-family: 'FontAwesome';
  content: '\f14a';
  display: table-cell;
  padding-right: 15px;
}
.content-list-text {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.section.section-parallax-yes > .section-inner > .section-overlay {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
#content-boxes-text {
  background-color: #f2f4f4;
  margin-left: 7.5px;
  padding-top: 25px;
  height: 555px;
}
// ----------------CONTENT BOXES CONTAINER---------------------//


