// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-family: Raleway;
  font-size: 0.92em;
  letter-spacing: 0.04em;
  text-shadow: none;
}
h2 {
  text-shadow: none;
}
.page-scroll {
  float: left;
}
.main-title-container {
  float: left;
}
.page-scroll a {
  font-size: 2em;
  color: #377293;
}
.page-scroll a:hover {
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-rj{
  background-color: transparent;
  border-color: transparent;
}
// ----------------NAVBAR---------------------//
.navbar.navbar-fixed-top {
  background-color: #377293;
}
.nav-info {
  border-bottom: 1px solid rgba(255,255,255,.25);
  padding: 5px 170px 0px 170px;
  color: #f2f4f4;
  text-align: right;
}
.navbar-brand > img {
  height: 56px;
}
.nav.navbar-nav.navbar-right > li > a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-shadow: none;
}
.nav.navbar-nav.navbar-right > li > a:hover {
  border-bottom: 8px solid #f2f4f4;
  border-right: 0.0px solid #f2f4f4;
  border-left: 0.0px solid #f2f4f4;
}
#highlighted-list-item {
  background-color: #ea4934;
}
.navbar.navbar-fixed-top .navbar-nav > li.active a, .navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #f2f4f4 !important;
  color: #377293 !important;
}
// ----------------INTRO---------------------//
#intro .intro-body .intro-text {
  margin-top: 70px;
}
#intro .button-container > button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.button-container {
  position: absolute;
  z-index: 1000;
  width: 187px;
  height: auto;
}
#button-one {
  top: 170px;
  left: 110px;
}
#button-two {
  top: 210px;
  left: 300px;
}
.text-overlay {
  text-align: left;
  font-weight: 200;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}
#intro, #carousel-intro-section {
  height: 540px;
  width: 100%;
}
#video-container {
  position: absolute; 
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
#video-container .video {
  min-width: 100%;
  min-height: 100%;
}
#intro .intro-body {
  z-index: 100;
}
#curve {
  position: absolute;
  min-width: 110%;
  left: -50px;
  bottom: -230px;
  z-index: 500;
}
#curve > img {
  background-size: cover;
  height: auto;
}


// ----------------ABOUT US---------------------//
#welcome-ovelay {
  top: -200px;
}
.overlay-header {
  z-index: 800;
}
#about-us {
  padding-top: 9%;
  padding-bottom: 4%;
  height: 600px;
}
#draft-image {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 800px;
  width: 600px;
}
.about-us-txt {
  -ms-transform: translate(0px, 18px); /* IE 9 */
  -webkit-transform: translate(0px, 18px); /* Safari */
  transform: translate(0px, 18px);
  z-index: 100;
  text-align: justify;
}
#video-container img {
  min-width: 100% !important;
}
// ----------------SERVICES CONTAINER---------------------//
.overlay-title {
  color: #f2f4f4;
}
@media (min-width: 1024px) {
  .section > .section-inner .section-content {
    padding-top: 30px;
    padding-bottom: 30px;

  }
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content > h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  text-align: left;
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content > p {
  text-transform: none;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}
#meet-the-team-content > .full-width {
  // position: absolute;
  min-width: 100%;
  left: 0;
}
@media (min-width: 1024px) {
  #meet-the-team .team-item.not-right-column.top-column {
    margin-bottom: 15px;
  }
}
.bottom-services{
  height: 260px;
  overflow: hidden;
}
#top-services { 
  padding-left: 0px;
  padding-right: 0px;
  height: 270px;
  overflow: hidden;
}
#bottom-right-services {
  padding-right: 0px;
}
#meet-the-team .team-item.not-right.column.top-column {
  padding-left: 7.5px;
}
#bottom-left-services {
  padding-left: 0px;
  padding-right: 0px;  
}
#meet-the-team .team-item > .team-element > .team-inner > .team-detail > .team-content {
  vertical-align: top;
  padding: 30px 50px;
}
#right-services {
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 0px;
  height: 680px;
  background-color: transparent;
}
#right-services ul {
  padding-left: 20px;
  display: table;
}
#right-services ul > li {
  list-style: none;
  display: table-row;
  height: 40px;
}
#right-services ul > li:before {    
  font-family: 'FontAwesome';
  content: '\f14a';
  display: table-cell;
  padding-right: 15px;
}
.content-list-text {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.section.section-parallax-yes > .section-inner > .section-overlay {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
#content-boxes-text {
  background-color: #f2f4f4;
  margin-left: 7.5px;
  padding-top: 25px;
  height: 545px;
}
// ----------------CONTENT BOXES CONTAINER---------------------//
#our-services {
  padding-bottom: 90px;
}
#services-container a {
  color: #f2f4f4;
}
.get-a-quote-content {
  padding-top: 50px;
}

#bottom-buttons {
  padding-left: 100px;
}
#bottom-buttons button {
  height: 70px;
}
footer.footer {
  border-top: 0px;
}
.image-hack {
  height: 470px;
}
.shifted {
  z-index: 1000;
}

#line {
  position: absolute;
  z-index: 200;
}
footer.footer #footer {
  background-color: #1c1c1c;
}
.footer-text {
  color: #F2F4f4;
  text-shadow: none;
}
.hack-overlay-text {
  z-index: 2000;
}
#hack-buttons > .hack-buttons-1{
  padding-left: 0px;
  padding-right: 0px;
}
#hack-buttons .contact-buttons {
  margin-left: 0px;
  background-color: #377293;
  color: #f2f4f4;
}



.funny-boxes > .funny-boxes-icon {
  border: 1px solid #377293;
  color: #377293;
}
